<%= form_with model: eat_record do |form| %>
  <div>
      <%= form.label :shop_name %><br>
      <%= form.text_field :shop_name %>
      <%= eat_record.errors.full_messages_for(:shop_name).each do |message| %>
        <div><%= message %></div>
      <% end %>
  </div>

  <div>
      <%= form.label :place_name %><br>
      <%= form.text_field :place_name %>
      <%= eat_record.errors.full_messages_for(:place_name).each do |message| %>
        <div><%= message %></div>
      <% end %>
  </div>

  <div>
      <%= form.label :usecase %><br>
      <%= form.text_field :usecase %>
      <%= eat_record.errors.full_messages_for(:usecase).each do |message| %>
        <div><%= message %></div>
      <% end %>
  </div>

  <div>
      <%= form.label :eat_with %><br>
      <%= form.text_field :eat_with %>
      <%= eat_record.errors.full_messages_for(:eat_with).each do |message| %>
        <div><%= message %></div>
      <% end %>
  </div>

  <div>
      <%= form.label :eat_date %><br>
      <%= form.date_select :eat_date %>
      <%= eat_record.errors.full_messages_for(:eat_date).each do |message| %>
        <div><%= message %></div>
      <% end %>
  </div>

  <div>
      <%= form.label :eat_time %><br>
      <%= form.text_field :eat_time %>
      <%= eat_record.errors.full_messages_for(:eat_time).each do |message| %>
        <div><%= message %></div>
      <% end %>
  </div>

  <div>
      <%= form.label :eat_menu %><br>
      <%= form.text_field :eat_menu %>
      <%= eat_record.errors.full_messages_for(:eat_menu).each do |message| %>
        <div><%= message %></div>
      <% end %>
  </div>

  <div>
      <%= form.label :article %><br>
      <%= form.text_field :article %>
      <%= eat_record.errors.full_messages_for(:article).each do |message| %>
        <div><%= message %></div>
      <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

