<h1>お店の名前: <%= @eat_record.shop_name %></h1>
<p>お店の場所: <%= @eat_record.place_name %></p>
<p>利用方法: <%= @eat_record.usecase %></p>
<p>一緒にいった人: <%= @eat_record.eat_with %></p>
<p>食べた日: <%= @eat_record.eat_date %></p>
<p>食べた時間: <%= @eat_record.eat_time %></p>
<p>食べたメニュー: <%= @eat_record.eat_menu %></p>
<p>メモ: <%= @eat_record.article %></p>

<ul>
  <li><%= link_to "Edit", edit_eat_record_path(@eat_record) %></li>
  <li><%= link_to "Destroy", eat_record_path(@eat_record), data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  } %></li>
  <li><%= link_to "戻る", "/eat_records" %></li>
</ul>

