<h1>食べた記録(Statistics)</h1>

<p>ユーザ名: <%= link_to current_user.email, edit_user_registration_path %></p>

<ul>
  <% @stats.each do |stat| %>
    <li>
      <span class="eatrec-row1"><%= stat.name %></span>
      <span class="eatrec-row2"><%= stat.count %></span>
    </li>
  <% end %>
</ul>

<%= link_to "戻る", root_path %><br>
<% if user_signed_in? %>
  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to 'ログイン', new_user_session_path %>
<% end %>

